In [43]:
#importing necessary libraries
import numpy as np
import pandas as pd
import wordcloud,string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from wordcloud import wordcloud,STOPWORDS
from string import punctuation

In [44]:
#Reading datasets
imdb=pd.read_csv('IMDB_Dataset.csv')

In [45]:
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [46]:
#info of data of dataset
imdb.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [47]:
#Identification of null or missing data
mis_data=imdb.isnull().sum()
print(mis_data)

review       0
sentiment    0
dtype: int64

In [48]:
#as no missing data is present we will check for duplicate data
dupl_data=imdb.duplicated().sum()
print(dupl_data)

418

In [49]:
#removing duplicate data
imdb.drop_duplicates(keep='first',inplace=True)

In [50]:
imdb.shape

(49582, 2)

In [55]:
#Removing useless words from our review sentences
stp=set(stopwords.words('english'))
punct=list(string.punctuation)
stp.add(tuple(punct))
wl=WordNetLemmatizer()